@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainPage.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <a href="@Url.Action("Edit","Roles", new { id = item.Id})" class="btn btn-outline-info btn-sm">Edit</a>
            <a href="@Url.Action("Details","Roles", new { id = item.Id})" class="btn btn-outline-success btn-sm">Details</a>
            <a href="@Url.Action("Delete","Roles", new { id = item.Id})" class="btn btn-outline-danger btn-sm">Delete</a>
        </td>
    </tr>
}

</table>
